---
import Layout from '@layouts/Layout.astro';
import Link from '@components/ui/Link.astro';
import Navbar from '@components/Navbar.astro';
import { Image } from 'astro:assets';
import juanImage from '@assets/images/juan.jpg';
import { backHomeMenu } from '@src/consts';
---

<Layout metaTitle="Juan Diaz | 404: Not Found" includeSidebar={false}>
	<Navbar menu={backHomeMenu} button="Home" />
	<main class="flex h-[80vh] flex-col items-center justify-center">
		<div class="flex flex-col items-center space-x-4">
			<h1 class="text-3xl font-bold text-black dark:text-white lg:text-5xl">404</h1>

			<p>
				<span class="text-2xl font-semibold text-black dark:text-white lg:text-3xl">Not Found</span>
			</p>
			<div class="my-10">
				<Image
					class="rounded-full opacity-90 shadow-orange/50 duration-75 hover:scale-105 hover:transform hover:opacity-50 hover:shadow-2xl"
					src={juanImage}
					alt="Juan Diaz"
					format="jpg"
					width={150}
					height={150}
					quality={100}
				/>
			</div>

			<p class="flex-1 rounded-full bg-orange px-6 py-1 text-black dark:text-white">
				Sorry, I' messed up.
			</p>
		</div>

		<div class="mt-10 flex items-center justify-center text-black dark:text-white">
			&larr; <Link text="Go Back Home" ariaLabel="Go Back Home" href="/" />
		</div>
	</main>
</Layout>
