---
import Layout from '@layouts/Layout.astro';
import Hero from '@components/Hero.astro';
import About from '@components/About.astro';
import Projects from '@components/Projects.astro';
import OpenSource from '@components/OpenSource.astro';
import Contact from '@components/Contact.astro';
import Navbar from '@components/Navbar.astro';

const homeMenu = [
	// { title: 'Resume', path: '/resume' },
	{ title: 'About', path: '#top' },
	{ title: 'Projects', path: '#projects' },
	{ title: 'OpenˑSource', path: '#oss' },
	{ title: 'Contact', path: '#contact' },
];
---

<Layout>
	<main>
		<Navbar menu={homeMenu} button="Resume" />
		<Hero />
		<!-- <About /> -->
		<Projects />
		<OpenSource />
		<Contact />
	</main>
</Layout>
