---
import Layout from '@layouts/Layout.astro';
import Hero from '@components/Hero.astro';
import About from '@components/About.astro';
import Projects from '@components/Projects.astro';
import OpenSource from '@components/OpenSource.astro';
import Contact from '@components/Contact.astro';
import Navbar from '@components/Navbar.astro';

const homeMenu = [
	{ title: 'Resume', path: '/resume' },
	{ title: 'Home', path: '/#top' },
	{ title: 'About', path: '#about' },
	{ title: 'Projects', path: '#projects' },
	{ title: 'Open Source', path: '#oss' },
	{ title: 'Contact', path: '#contact' },
];
---

<Layout>
	<main>
		<Navbar menu={homeMenu} />
		<Hero />
		<About />
		<Projects />
		<OpenSource />
		<Contact />
	</main>
</Layout>
