---
import Layout from '@layouts/Layout.astro';
import Hero from '@components/Hero.astro';
import About from '@components/About.astro';
import Projects from '@components/projects/Projects.astro';
import OpenSource from '@components/OpenSource.astro';
import Contact from '@components/Contact.astro';
import Navbar from '@components/Navbar.astro';
import { homePageMenu } from '@src/consts';
---

<Layout>
	<main>
		<Navbar menu={homePageMenu} button="Resume" />
		<Hero />
		<!-- <About /> -->
		<Projects />
		<OpenSource />
		<Contact />
	</main>
</Layout>
