---
import Layout from '@layouts/Layout.astro';
import Hero from '@components/Hero.astro';
import Projects from '@components/projects/Projects.astro';
import OpenSourceCombined from '../components/OpenSourceCombined.astro';
import Contact from '@components/Contact.astro';
import Navbar from '@components/Navbar.astro';
import TestimonialsHighlight from '@components/TestimonialsHighlight.astro';
import { homePageMenu } from '@src/consts';
---

<Layout>
	<main>
		<Navbar menu={homePageMenu} button="Resume" />
		<Hero />
		<Projects />
		<OpenSourceCombined />
		<TestimonialsHighlight />
		<Contact />
	</main>
</Layout>
