---
import Layout from '@layouts/Layout.astro';
import SubTitle from '@components/ui/SubTitle.astro';
import GithubButtons from '@components/ui/GithubButtons.astro';
import Navbar from '@components/Navbar.astro';
import CallToAction from '@components/CallToAction.astro';
import ProjectListSmall from '@components/projects/ProjectListSmall.astro';
import { backHomeMenu } from '@src/consts';
import { site } from '@src/consts';
---

<Layout metaTitle={`More Projects | ${site.author}`} includeSidebar={false}>
	<Navbar menu={backHomeMenu} button="Home" />
	<main class="mb-10 flex flex-col items-center justify-center md:mb-0 md:h-screen lg:h-auto text-black dark:text-white">
		<SubTitle text="More Projects" />
		<p class="text-black dark:text-white">Here are some more projects that I have worked on.</p>

		<ProjectListSmall collectionName="more-full-stack-projects" />
		<ProjectListSmall collectionName="more-projects" />
		<div class="mb-10">
			<GithubButtons />
		</div>
		<div><CallToAction social line button /></div>
	</main>
</Layout>
