---
import Layout from '@layouts/Layout.astro';
import SubTitle from '@components/ui/SubTitle.astro';
import Navbar from '@components/Navbar.astro';
import CallToAction from '@components/CallToAction.astro';
import ProjectListSmall from '@components/ProjectListSmall.astro';
import { backHomeMenu } from '../consts';
---

<Layout metaTitle="Juan Diaz | More Open Source" includeSidebar={false}>
	<Navbar menu={backHomeMenu} button="Home" />
	<main class="mb-10 flex flex-col items-center justify-center md:mb-0 md:h-screen lg:h-auto">
		<SubTitle text="More Open Source" />
		<p class="text-black dark:text-white">
			Here are some additional open-source projects that I have contributed to.
		</p>
		<ProjectListSmall collectionName="more-open-source" />
		<div class="mt-20"><CallToAction social line button /></div>
	</main>
</Layout>
