---
import Layout from '@layouts/Layout.astro';
import SubTitle from '@components/ui/SubTitle.astro';
import Navbar from '@components/Navbar.astro';
import CallToAction from '@components/CallToAction.astro';
import ProjectListSmall from '@components/projects/ProjectListSmall.astro';
import { backHomeMenu } from '@src/consts';
import { site } from '@src/consts';
---

<Layout metaTitle={`More Open Source | ${site.author}`} includeSidebar={false}>
	<Navbar menu={backHomeMenu} button="Home" />
	<main class="mb-10 flex flex-col items-center justify-center md:mb-0 md:h-screen lg:h-auto text-black dark:text-white">
		<SubTitle text="Open Source Projects" />
		<p class="text-black dark:text-white">
			Here are some additional open-source projects that I have contributed to.
		</p>
		<ProjectListSmall collectionName="more-open-source" />
		<div class="mt-20"><CallToAction social line button /></div>
	</main>
</Layout>
