---
import SubTitle from '@components/ui/SubTitle.astro';

const description =
	'Committed Front End developer seeking opportunities in growth-oriented startups. Upholds values of discipline, loyalty, and reliability, with a self-motivated approach to continuous learning and skill enhancement';
// "I'm a software engineer based in Lagos, Nigeria. I'm passionate about building software that solves real-world problems and helps businesses grow. I'm currently working as a software engineer at a fintech company in Lagos, Nigeria.";
---

<section
	data-testid="about"
	id="about"
	class="mb-10 flex flex-col items-center justify-center md:mb-52 lg:mb-0 lg:h-screen lg:flex-row"
>
	<div class="mb-10 flex w-full flex-col items-center justify-center lg:mb-0 lg:w-1/2">
		<SubTitle text="About me" />
	</div>

	<div class="w-full text-justify text-black dark:text-white lg:w-1/2">
		<p class="mb-2">
			{description}
		</p>
	</div>
</section>
