---
import Button from '@components/ui/Button.astro';
import Social from '@components/ui/Social.astro';

interface Props {
	button?: boolean;
}

const { button } = Astro.props;
---

<section
	data-testid="hire-me"
	id="hire-me"
	class="flex flex-col flex-wrap items-center justify-center gap-2 text-black dark:text-white md:mb-20 lg:mb-0"
>
	<div class="flex-col-3 flex gap-8 lg:flex lg:flex-row lg:gap-20">
		<Social />
	</div>
	<hr class="my-6 w-3/4" />

	{
		button ? (
			<Button size={'lg'} style={'primary'} name="hire-me" href="mailto:juan.diaz93@hotmail.com">
				Hire Me
			</Button>
		) : null
	}
</section>
