---
import ContactForm from './ContactForm.astro';
---

<section
	data-testid="contact"
	id="contact"
	class="flex flex-col flex-wrap items-center justify-center gap-8 bg-orange text-black md:mb-20 lg:mb-0 lg:h-screen"
>
	<!-- Contact Form Here -->
	<ContactForm />
</section>
