---
import Button from '@components/ui/Button.astro';
import Social from '@components/ui/Social.astro';
---

<section
	data-testid="contact"
	id="contact"
	class="flex flex-col flex-wrap items-center justify-center gap-8 text-black dark:text-white md:mb-20 lg:mb-0 lg:h-screen"
>
	<a href="mailto:juan.diaz93@hotmail.com">
		<Button size={'lg'} style={'primary'} name="Contact">Hire Me!</Button>
	</a>
	<hr class="w-1/2" />
	<div class="flex-col-3 flex gap-8 lg:flex lg:flex-row lg:gap-20">
		<Social />
	</div>
</section>
