---
import ContactForm from '@components/ContactForm.astro';
import SubTitle from '@components/ui/SubTitle.astro';
import Link from '@components/ui/Link.astro';
import CallToAction from '@components/CallToAction.astro';
---

<section
	data-testid="contact"
	id="contact"
	class="mb-10 flex flex-col items-center justify-center md:mb-52 lg:mb-0 lg:h-screen lg:flex-row"
>
	<div class="mb-10 flex w-full flex-col items-center justify-center lg:mb-0 lg:w-1/2">
		<SubTitle text="Contact me" />
		<div class="text-gray-500 flex flex-col items-center justify-center text-center lg:w-1/2">
			<CallToAction social line />
			<p class="text-black dark:text-white">Feel free to email me directly.</p>
			<Link
				text="juan.diaz93@hotmail.com"
				ariaLabel="juan.diaz93@hotmail.com"
				href="mailto:juan.diaz93@hotmail.com"
			/>
		</div>
	</div>

	<div class="w-full text-justify text-black lg:w-1/2">
		<p class="mb-2">
			<ContactForm />
		</p>
	</div>
</section>
