---
import Link from '@components/ui/Link.astro';

const copyRight = `Copyright © 2023 - ${new Date().getFullYear()}`;
const developer = ` Juan Diaz`;
---

<footer data-testid="footer" class="p-6 text-center text-sm text-black dark:text-white">
	<div class="flex flex-col items-center justify-center md:flex-row">
		{copyRight}

		<span class="mx-1 hidden text-orange dark:text-orange md:block">•</span>
		<p class="flex items-center justify-center">
			Developed by
			<Link
				text={developer}
				ariaLabel=`Website developed by ${developer}`
				href="https://github.com/juanpablodiaz"
				className="hover:underline-orange pl-1 font-bold text-orange hover:underline hover:underline-offset-4 dark:text-orange"
			/>
		</p>
	</div>
</footer>
