<footer data-testid="footer" class="p-6 text-center text-sm text-black dark:text-white">
	<p>
		Copyright © 2023 - {new Date().getFullYear()}. All rights reserved. Developer <a
			href="https://github.com/juanpablodiaz"
			target="_blank"
			rel="noopener"
		>
			<span class="text-orange"> Juan Diaz</span>
		</a>
	</p>
	<!-- <p>
		Copyright © {new Date().getFullYear()}. All rights reserved. Made by <a
			href="https://github.com/veranikabarel"
			target="_blank"
			rel="noopener"
		>
			<span class="text-orange"> Veranika Kasparevych</span>
		</a>
		Assets designed by <a href="www.freepik.com" target="_blank" rel="noopener"
			><span class="text-orange">freepik</span></a
		>
	</p> -->
</footer>
