---
import heroImage from '@assets/images/hero.png';
import juanImage from '@assets/images/juan.jpg';
import { Image } from '@astrojs/image/components';
import Button from '@components/ui/Button.astro';
---

<section
	data-testid="hero"
	class="flex h-screen flex-col-reverse items-center justify-center text-center lg:flex-row"
>
	<div class="mb-10 flex flex-col items-center lg:mb-0 lg:w-1/2">
		<div>
			<h1 class="mb-10 font-monospace text-3xl text-black dark:text-white lg:text-5xl">
				Hi! My name is <span class="text-orange">Juan Diaz</span> and I am a Front End Developer based in Asheville, NC.
			</h1>
		</div>
		<div class="mb-10">
			<Button style={'primary'} size={'lg'} class={'flex'} name="learn more">Learn more</Button>
		</div>
	</div>
	<div data-testid="hero-img" class="mb-10 flex w-1/2 items-center justify-center">
		<Image class="rounded-full shadow-orange/50 opacity-90 hover:opacity-50 hover:scale-105 hover:transform hover:shadow-2xl duration-75"
		src={juanImage}
		alt="Juan Diaz"
			aspectRatio="4:4"
			format="jpg"
			width={450}
			height={450}
			loading="eager"
			quality={100}
		/>

	</div>
</section>
