---
import Button from '@components/ui/Button.astro';
import ToggleTheme from '@components/ui/ToggleTheme.astro';
import { Astronav, MenuIcon, MenuItems } from 'astro-navbar';
import Link from '@components/ui/Link.astro';
import Home from '@components/icons/Home.astro';
import { table } from 'astro/dist/core/logger/core';

const PDF = './files/2024-FrontEndCV.pdf';

const homeMenu = [
	{
		title: 'About',
		path: '#about',
	},
	{
		title: 'Projects',
		path: '#projects',
	},
	{
		title: 'Open Source',
		path: '#oss',
	},
	{
		title: 'Contact',
		// path: '#contact', // Contact form but it's not ready
		path: 'mailto:juan.diaz.rodriguez93@gmail.com',
	},
	{
		title: 'Resume',
		path: '/resume',
	},
];

const cvMenu = [
	{
		title: 'BackToHome',
		path: '/',
	},
	{
		title: 'Profile',
		path: '#top',
	},
	{
		title: 'Education',
		path: '#education',
	},
	{
		title: 'Experience',
		path: '#experience',
	},
];

let menu = Astro.props.isIndexPage ? homeMenu : cvMenu;
---

<header data-testId="header" class="my-5 flex flex-col items-center justify-around lg:flex-row">
	<Astronav>
		<div class="fixed z-10 flex w-full items-center justify-center">
			<!-- Hamburger Icon For Mobile -->
			<div class="fixed right-5 block lg:hidden">
				<MenuIcon class="h-4 w-4 text-black dark:text-white" />
			</div>
		</div>
		<MenuItems class="fixed right-2 top-10 z-10 flex rounded-lg md:right-auto md:top-2">
			<ul class="flex flex-col items-center px-2 lg:flex-row lg:gap-3">
				{
					Astro.props.isIndexPage ? (
						<li class="flex items-center justify-center">
							<Button
								style="secondary"
								size={'sm'}
								name="Home"
								href="#top"
								rel="noopener noreferrer"
							>
								<Home />
							</Button>
						</li>
					) : null
				}

				{
					menu.map((item) => (
						<MenuItems>
							<li class="flex">
								{item.title === 'Resume' || item.title === 'BackToHome' ? (
									<Button
										style={item.title === 'Resume' ? 'cv' : 'secondary'}
										size="sm"
										name="Home"
										href={item.path}
										rel="noopener noreferrer"
									>
										{item.title === 'BackToHome' ? <Home /> : item.title}
									</Button>
								) : (
									<Link text={item.title} ariaLabel="navigation link" href={item.path} />
								)}
							</li>
						</MenuItems>
					))
				}
				<li class="flex items-center justify-center">
					<ToggleTheme />
				</li>
			</ul>
		</MenuItems>
	</Astronav>
</header>

<style>
	ul {
		animation: nav-shadown 1s linear both;
		animation-timeline: scroll();
		animation-range: 0 100px;
	}

	@keyframes nav-shadown {
		to {
			@apply rounded-lg bg-white/50 shadow-lg ring-1 ring-white/10 backdrop-blur dark:bg-black/50;
		}
	}
</style>
