---
import Button from '@components/ui/Button.astro';
import ToggleTheme from '@components/ui/ToggleTheme.astro';
import { Astronav, MenuItems, MenuIcon, OpenIcon, CloseIcon } from 'astro-navbar';
import Link from '@components/ui/Link.astro';
import Home from '@components/icons/Home.astro';
import MenuOpen from '@components/icons/MenuOpen.astro';
import MenuClose from '@components/icons/MenuClose.astro';

const PDF = './files/2024-FrontEndCV.pdf';

const homeMenu = [
	{
		title: 'Resume',
		path: '/resume',
	},
	{
		title: 'Home',
		path: '/#top',
	},
	{
		title: 'About',
		path: '#about',
	},
	{
		title: 'Projects',
		path: '#projects',
	},
	{
		title: 'Open Source',
		path: '#oss',
	},
	{
		title: 'Contact',
		path: '#contact',
	},
];

const backHomeMenu = [
	{
		title: 'BackToHome',
		path: '/',
	},
];

const cvMenu = [
	{
		title: 'BackToHome',
		path: '/',
	},
	{
		title: 'Profile',
		path: '#top',
	},
	{
		title: 'Education',
		path: '#education',
	},
	{
		title: 'Experience',
		path: '#experience',
	},
];

// Determine the current path
const path = new URL(Astro.request.url).pathname;

// Logic to select the appropriate menu based on the current path
let menu;
if (path === '/') {
	menu = homeMenu;
} else if (path === '/resume') {
	menu = cvMenu;
} else {
	menu = backHomeMenu;
}
---

<header
	class="bg-background/80 sticky inset-x-0 top-0 z-50 w-full backdrop-blur-md transition-colors md:my-10"
>
	<Astronav>
		<nav
			class="flex flex-col justify-between rounded-lg px-2 md:flex-row md:items-baseline md:space-x-16 lg:px-8 xl:px-20"
		>
			<div class="flex h-10 items-center justify-between">
				<ToggleTheme />
				<div class="block md:hidden">
					<MenuIcon>
						<OpenIcon class="text-black dark:text-white">
							<MenuOpen />
						</OpenIcon>
						<CloseIcon class="text-black dark:text-white">
							<MenuClose />
						</CloseIcon>
					</MenuIcon>
				</div>
			</div>

			<!-- <MenuItems class="hidden flex-1 space-y-8 pb-8 pt-4 md:flex md:space-y-0 md:py-0">
				<ul class="flex flex-1 flex-col gap-4 md:flex-row md:gap-6">
					<Link text="About" ariaLabel="View more projects" href="/#about" />
					<Link text="Home" ariaLabel="View more projects" href="/" />
					<Link text="View more projects" ariaLabel="View more projects" href="./more-projects" />
				</ul>
			</MenuItems> -->

			{
				menu.map((item) => (
					<MenuItems class="hidden flex-1 space-y-2 pb-2 pt-1 md:flex md:space-y-0 md:py-0">
						<ul class="flex flex-1 flex-col gap-4 md:w-max md:flex-row">
							{item.title === 'Resume' || item.title === 'BackToHome' ? (
								<Button
									style={item.title === 'Resume' ? 'cv' : 'secondary'}
									size="sm"
									name="Home"
									href={item.path}
									rel="noopener noreferrer"
									class="flex items-center justify-center"
								>
									{item.title === 'BackToHome' ? <Home /> : item.title}
								</Button>
							) : (
								<div class="flex items-center justify-end">
									<Link text={item.title} ariaLabel="navigation link" href={item.path} />
								</div>
							)}
						</ul>
					</MenuItems>
				))
			}
		</nav>
	</Astronav>
</header>

<style>
	nav {
		animation: nav-shadown 1s linear both;
		animation-timeline: scroll();
		animation-range: 0 100px;
	}

	@keyframes nav-shadown {
		to {
			@apply rounded-lg bg-white/50 shadow-lg ring-1 ring-white/10 backdrop-blur dark:bg-black/50;
		}
	}
</style>
