---
import Button from '@components/ui/Button.astro';
import ToggleTheme from '@components/ui/ToggleTheme.astro';
import { Astronav, MenuIcon, MenuItems } from 'astro-navbar';
import Link from '@components/ui/Link.astro';
import Home from '@components/icons/Home.astro';

const PDF = './files/2024-FrontEndCV.pdf';

const menuitems = [
	{
		title: 'About',
		path: '#about',
	},
	{
		title: 'Projects',
		path: '#projects',
	},
	{
		title: 'Open Source',
		path: '#oss',
	},
	{
		title: 'Contact',
		path: '#contact',
	},
];

const backHomeMenu = [
	{
		title: 'Back to home',
		path: '/',
	},
];

let menu = Astro.props.isIndexPage ? menuitems : backHomeMenu;
---

<!-- class="fixed top-0 z-10 mx-auto mt-2 flex w-full items-center justify-center bg-orange" --><!-- lg:container lg:fixed lg:z-10 -->
<header data-testId="header" class="my-5 flex flex-col items-center justify-around lg:flex-row">
	<Astronav>
		<div class="flex w-full items-center justify-between lg:w-auto">
			<!-- Resume/Download Button -->
			{
				Astro.props.isIndexPage ? (
					<Button
						style="primary"
						size={'sm'}
						name="My Resume Page"
						href="./CV"
						rel="noopener noreferrer"
					>
						My Resume
					</Button>
				) : (
					<Button
						style="primary"
						size={'sm'}
						name="Download CV"
						href={PDF}
						target="_blank"
						rel="noopener noreferrer"
					>
						Download CV
					</Button>
				)
			}
			<!-- Hamburger Icon For Mobile -->
			<div class="fixed right-5 z-10 block lg:hidden">
				<MenuIcon class="h-4 w-4 text-black dark:text-white" />
			</div>
		</div>
		<!-- <MenuItems
			class="mt-2 hidden w-full rounded-lg bg-orange/30 px-2 dark:bg-black lg:fixed lg:z-10 lg:mt-0 lg:flex lg:w-auto"
		>
			<ul class="flex flex-col lg:flex-row lg:gap-3">
				<li class="flex items-center justify-center">
					<Button style="secondary" size={'sm'} name="Home" href="#top" rel="noopener noreferrer">
						<Home />
					</Button>
				</li>

				{
					menu.map((item) => (
						<MenuItems>
							<li>
								<Link text={item.title} ariaLabel="navigation link" href={item.path} />
							</li>
						</MenuItems>
					))
				}

				<li><ToggleTheme /></li>
			</ul>
		</MenuItems> -->
	</Astronav>
</header>
