---
import Button from '@components/ui/Button.astro';
import ToggleTheme from '@components/ui/ToggleTheme.astro';
import { Astronav, MenuIcon, MenuItems } from 'astro-navbar';
import Link from '@components/ui/Link.astro';

const PDF = './files/2024-FrontEndCV.pdf';

const menuitems = [
	{
		title: 'About',
		path: '#about',
	},
	{
		title: 'Projects',
		path: '#projects',
	},
	{
		title: 'Open Source',
		path: '#oss',
	},
	{
		title: 'Contact',
		path: '#contact',
	},
];

const backHomeMenu = [
	{
		title: 'Back to home',
		path: '/',
	},
];

let menu = Astro.props.isIndexPage ? menuitems : backHomeMenu;

// let CV = Astro.props.isIndexPage ? path : download;
---

<!-- class="fixed top-0 z-10 mx-auto mt-2 flex w-full items-center justify-center bg-orange" -->
<header
	data-testId="header"
	class="container fixed z-10 my-5 flex flex-col items-center justify-around lg:flex-row"
>
	<Astronav>
		<div class="flex w-full items-center justify-between lg:w-auto">
			{
				Astro.props.isIndexPage ? (
					<a href="./CV" rel="noopener noreferrer">
						<Button style="primary" size={'sm'} name="Download CV">
							My Resume
						</Button>
					</a>
				) : (
					<a href={PDF} target="_blank" rel="noopener noreferrer">
						<Button name="Download CV">Download CV</Button>
					</a>
				)
			}
			<div class="block lg:hidden">
				<MenuIcon class="h-4 w-4 text-black dark:text-white" />
			</div>
		</div>
		<MenuItems
			class="mt-2 hidden w-full rounded-lg bg-orange/30 px-2 dark:bg-black lg:mt-0 lg:flex lg:w-auto"
		>
			<ul class="flex flex-col lg:flex-row lg:gap-3">
				{
					menu.map((item) => (
						<MenuItems>
							<li>
								<Link text={item.title} ariaLabel="navigation link" href={item.path} />
							</li>
						</MenuItems>
					))
				}

				<li><ToggleTheme /></li>
			</ul>
		</MenuItems>
	</Astronav>
</header>
