---
import Button from '@components/ui/Button.astro';
import ToggleTheme from '@components/ui/ToggleTheme.astro';
import { Astronav, MenuIcon, MenuItems } from 'astro-navbar';
import { download } from '../downloadCV';

const menuitems = [
	{
		title: 'About',
		path: '#about',
	},
	{
		title: 'Projects',
		path: '#projects',
	},
	{
		title: 'Contact',
		path: '#contact',
	},
];
---

<header data-testId="header" class="my-5 flex flex-col items-center justify-between lg:flex-row">
	<Astronav>
		<div class="flex w-full items-center justify-between lg:w-auto">
			<!-- <a href="../assets/pdf/2023-FrontEnd-CV.pdf" download="JuanDiaz"> -->
			<a
				href="https://resume.creddle.io/resume/9um4zrxd89s"
				target="_blank"
				rel="noopener noreferrer"
			>
				<Button style="primary" size={'sm'} name="Download CV" onclick={download}>My Resume</Button>
			</a>
			<div class="block lg:hidden">
				<MenuIcon class="h-4 w-4 text-black dark:text-white" />
			</div>
		</div>
		<MenuItems class="mt-2 hidden w-full lg:mt-0 lg:flex lg:w-auto">
			<ul class="flex flex-col lg:flex-row lg:gap-3">
				{
					menuitems.map((item) => (
						<>
							<li>
								<a
									aria-label="navigation link"
									href={item.path}
									class="hover:text-orange dark:hover:text-orange flex py-2 text-black transition duration-300 dark:text-white lg:px-3"
								>
									{item.title}
								</a>
							</li>
						</>
					))
				}
				<li><ToggleTheme /></li>
			</ul>
		</MenuItems>
	</Astronav>
</header>
