---
import Button from '@components/ui/Button.astro';
import ToggleTheme from '@components/ui/ToggleTheme.astro';
import { Astronav, MenuItems, MenuIcon, OpenIcon, CloseIcon } from 'astro-navbar';
import Link from '@components/ui/Link.astro';
import Home from '@components/icons/Home.astro';
import MenuOpen from '@components/icons/MenuOpen.astro';
import MenuClose from '@components/icons/MenuClose.astro';

const { menu, button } = Astro.props;
---

<header class="sticky top-0 z-50 w-full md:my-5">
	<Astronav>
		<nav
			class="flex flex-col justify-end px-2 md:flex-row md:items-center md:space-x-16 lg:px-8 xl:px-20"
		>
			<div class="flex h-10 items-center justify-between">
				<div class="block md:hidden">
					<ToggleTheme />
				</div>
				<div class="block md:hidden">
					<MenuIcon>
						<OpenIcon class="text-black dark:text-white">
							<MenuOpen />
						</OpenIcon>
						<CloseIcon class="text-black dark:text-white">
							<MenuClose />
						</CloseIcon>
					</MenuIcon>
				</div>
			</div>

			<MenuItems class="scrollMenu hidden space-y-2 pb-2 pt-1 md:flex md:space-y-0 md:py-0">
				<Button
					style="secondary"
					size="sm"
					name={button || 'Resume'}
					href={button === 'Resume' ? '/resume' : button === 'Home' ? '/' : `/${button}`}
					rel="noopener noreferrer"
					class="flex flex-1 items-center justify-center md:w-20"
				>
					{button === 'Home' ? <Home class="h-6 w-6" /> : button || 'Resume'}
				</Button>
				<!-- <Home class="h-6 w-6" /> -->
				{
					menu.map((item) => (
						<ul class="flex flex-col md:w-max md:flex-1 md:flex-row" key={item.path}>
							<li class="flex items-center justify-end">
								<Link text={item.title} ariaLabel="navigation link" href={item.path} />
							</li>
						</ul>
					))
				}
			</MenuItems>
		</nav>
	</Astronav>
</header>

<style>
	nav {
		animation: nav-shadown 1s linear both;
		animation-timeline: scroll();
		animation-range: 0 100px;
	}

	@keyframes nav-shadown {
		to {
			@apply justify-center rounded-lg text-sm;
		}
	}

	.scrollMenu {
		animation: menu-effect 1s linear both;
		animation-timeline: scroll();
		animation-range: 0 100px;
	}

	@keyframes menu-effect {
		to {
			@apply rounded-lg bg-brown/40 shadow-lg ring-1 ring-white/10 backdrop-blur;
		}
	}
</style>
