---
import { fetchRssFeed } from '@utils/rssFeed.js';
import { formatDate } from '@utils/formatDate';
import { getLangFromUrl, useTranslations } from '@i18n/utils';

export interface Props {
	lang: 'en' | 'es';
}

const { lang } = Astro.props;

const t = useTranslations(lang);

const posts = await fetchRssFeed(lang);
---

<div class="rss-feed-container space-y-8">
	{
		posts && posts.length > 0 ? (
			posts.map((post) => (
				<article class="border-zinc-200 dark:border-zinc-800 group relative rounded-lg border p-6">
					<h2 class="mb-2 text-2xl font-semibold text-black dark:text-white">
						<a
							href={post.link}
							target="_blank"
							rel="noopener noreferrer"
							class="hover:text-blue-600 dark:hover:text-blue-400"
						>
							{post.title || 'No Title'}
						</a>
					</h2>
					{post.description && (
						<p class="text-gray-600 dark:text-gray-300 mb-4" set:html={post.description} />
					)}
					<div class="flex flex-wrap items-center gap-4 text-sm">
						<time datetime={post.pubDate} class="text-gray-600 dark:text-gray-300">
							{t('blog.publishedOn')}
							{formatDate(post.pubDate, lang)}
						</time>
					</div>
				</article>
			))
		) : (
			<p>No posts found or unable to load feed.</p>
		)
	}
</div>
