---
import ArrowUp from '@components/icons/ArrowUp.astro';
---

<button
	data-testId="back-to-top-button"
	type="button"
	aria-label="back to top button"
	data-mdb-ripple="true"
	data-mdb-ripple-color="light"
	class="fixed bottom-5 right-5 inline-block rounded-full bg-black p-3 text-xs font-medium uppercase leading-tight text-orange shadow-md transition duration-300 ease-in-out hover:bg-orange hover:text-white hover:shadow-lg focus:outline-none focus:ring-0 dark:bg-orange dark:text-black dark:hover:bg-white dark:hover:text-black"
	id="btn-back-to-top"
>
	<ArrowUp />
</button>

<script>
	let mybutton = document.getElementById('btn-back-to-top') as HTMLButtonElement;
	window.onscroll = function (event) {
		event.preventDefault();
		scrollFunction();
	};

	function scrollFunction() {
		if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
			mybutton.style.display = 'block';
		} else {
			mybutton.style.display = 'none';
		}
	}

	mybutton.addEventListener('click', backToTop);

	function backToTop(event) {
		event.preventDefault();
		document.body.scrollTop = 0;
		document.documentElement.scrollTop = 0;
	}
</script>
