---
interface Props {
	size?: 'sm' | 'md' | 'lg';
	block?: boolean;
	style?: 'primary' | 'secondary' | 'cv';
	class?: string;
	[x: string]: any;
}

const { href, size = 'md', style = 'primary', block, class: className, ...rest } = Astro.props;

const sizes = {
	sm: 'px-4 py-1.5',
	md: 'px-5 py-2.5',
	lg: 'px-6 py-3',
};

const styles = {
	primary: 'bg-black text-white hover:bg-orange border-2 border-transparent',
	secondary: 'bg-white text-black hover:bg-orange border-2 border-transparent',
	cv: 'bg-orange text-white hover:bg-orange/50 border-2 m-1 border-transparent',
};
---

<a
	{...rest}
	class:list={[
		'cursor-pointer rounded-xl text-center ring-orange ring-offset-2 transition focus-visible:ring-2',
		block && 'w-full',
		sizes[size],
		styles[style],
		className,
	]}
	href={href}
	role="link"
	><slot />
</a>
