---
import { getGitHubCommits } from '@utils/github';
import { site } from '@src/consts';

interface Props {
	github_url: string;
	contribution: number;
}

const { github_url, contribution } = Astro.props;
const currentPath = Astro.url.pathname;
const isMoreProjectsPage = currentPath.includes('/more-projects');
const labelText = isMoreProjectsPage ? 'commits' : 'contributions';

let contributionsCount = 0;
const commitData = await getGitHubCommits(github_url, site.githubUsername);
if (commitData) {
	contributionsCount = commitData.count;
}

const contributionUrl = `${github_url}/commits?author=${site.githubUsername}`;
---

{
	(contributionsCount > 0 || contribution > 0) && (
		<a
			href={contributionUrl}
			target="_blank"
			rel="noopener noreferrer"
			class="mr-1 flex flex-col items-center justify-center rounded bg-orange text-white shadow-sm shadow-black transition duration-300 hover:bg-opacity-60 hover:shadow-none"
		>
			{contributionsCount > 0 ? contributionsCount : contribution}
			<span class="px-1 text-xs">{labelText}</span>
		</a>
	)
}
