---
import IndicatorCount from './IndicatorCount.astro';
//fetch number of repos and export to the markup below
const repoCount = await fetch(
	'https://api.github.com/users/JuanPabloDiaz/repos?page=1&per_page=100'
)
	.then((res) => res.json())
	.then((data) => data.length);
console.log(repoCount);
---

<!-- <section class="bg-white p-4 text-black dark:bg-orange dark:text-white"> -->
<div class="mr-auto place-self-center lg:col-span-7">
	<IndicatorCount
		button="GitHub Repos"
		count={repoCount || 65}
		href="https://github.com/juanPablodiaz?tab=repositories"
	/>
</div>
<!-- </section> -->
