---
import IndicatorCount from '@components/ui/IndicatorCount.astro';
import { getGitHubUserData } from '@utils/github';

const userData = await getGitHubUserData('JuanPabloDiaz');
const repoCount = userData?.repoCount || 0;
---

<div class="mr-auto place-self-center lg:col-span-7">
	<IndicatorCount
		text="GitHub Repos"
		count={repoCount || 75}
		href="https://github.com/juanPablodiaz?tab=repositories"
	/>
</div>
