---
interface Props {
	button: string;
	count: number;
	href: string;
}

const { button, count, href } = Astro.props;
---

<a
	href={href}
	class="relative flex py-2 text-black transition duration-300 hover:text-orange dark:text-white dark:hover:text-orange lg:px-3"
>
	{button}
	{
		count > 0 && (
			<div class="absolute -right-2 -top-2 inline-flex h-6 w-6 items-center justify-center rounded-full border-2 border-white bg-orange text-xs font-bold text-white dark:border-white">
				{count}
			</div>
		)
	}

	{
		count > 10 && (
			<div class="absolute -right-2 -top-2 inline-flex h-6 w-8 items-center justify-center rounded-full border-2 border-white bg-orange text-xs font-bold text-white dark:border-white">
				{count}
			</div>
		)
	}

	{
		count > 99 && (
			<div class="absolute -right-2 -top-2 inline-flex h-6 w-9 items-center justify-center rounded-full border-2 border-white bg-orange text-xs font-bold text-white dark:border-white">
				99+
			</div>
		)
	}
</a>
