---
const { lang } = Astro.props;

// Always redirect to the home page in the selected language
const langToggleUrl = lang === 'es' ? '/' : '/es/';
---

<div class="bg-orange">
	<a
		href={langToggleUrl}
		class="bg-gray-100 text-gray-700 hover:bg-gray-200 dark:bg-gray-800 dark:text-gray-300 dark:hover:bg-gray-700 rounded-lg px-3 py-1 text-sm"
	>
		{lang === 'es' ? 'English' : 'Español'}
	</a>
</div>
