---
import GitHubIcon from '@components/icons/GitHubIcon.astro';
import { Icon } from 'astro-icon/components';
import GitHubContribution from '@components/ui/GitHubContribution.astro';

// Define the props interface
interface Props {
	url: string;
	github_url: string;
	contribution: number;
}

// Extract props
const { url, github_url, contribution } = Astro.props;
---

<article class="relative flex w-2/12 flex-col items-center justify-between h-full py-2">
	<GitHubContribution github_url={github_url} contribution={contribution} />
	<div class="flex items-center justify-center gap-2 mt-auto">
		<a
			href={url}
			target="_blank"
			aria-label="link to project"
			class="flex h-7 w-7 items-center justify-center rounded-lg bg-orange shadow-sm shadow-black/20 transition-all duration-300 hover:bg-opacity-80 hover:shadow-none hover:scale-105"
		>
			<Icon name="majesticons:open" class="h-4 w-4" />
		</a>
		{
			github_url !== '#' && (
				<a
					href={github_url}
					target="_blank"
					aria-label="link to github repository"
					class="flex h-7 w-7 items-center justify-center rounded-lg bg-orange shadow-sm shadow-black/20 transition-all duration-300 hover:bg-opacity-80 hover:shadow-none hover:scale-105"
				>
					<GitHubIcon class="h-3.5 w-3.5" />
				</a>
			)
		}
	</div>
</article>
