---
import { Icon } from 'astro-icon/components';
import { social } from '@src/consts';
---

{
	social.map((link) => (
		<a href={link.href} target="_blank" rel="noopener" aria-label={link.ariaLabel}>
			<Icon
				name={link.iconName}
				class="h-4 transition duration-300 hover:text-orange dark:hover:text-orange md:h-8"
			/>
		</a>
	))
}
