---
export interface Props {
	tags?: string[];
}

const { tags } = Astro.props;
---

{
	tags && (
		<div class="flex flex-row flex-wrap justify-start gap-2">
			{tags.map((tag) => (
				<span class="inline-block rounded-lg px-2 py-1 text-xs text-black shadow-sm shadow-orange lg:py-1">
					{tag}
				</span>
			))}
		</div>
	)
}
